doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Webpack app
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-32x32.png")
    body
        .container.text-center
            img(src=require("./assets/images/webpack-icon.svg") alt="Webpack")
            h1 My App
            #app-root